
<div [ngClass]="alert" class="alert" role="alert">
  This is a primary alert—check it out!
</div>


<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]=" { 'text-danger': properties.danger, 'text-info': !properties.danger }">Hello world! :D!!</h3>
<button type="button" class="btn" [ngClass]="{ 'btn-danger': properties.danger, 'btn-info': !properties.danger }" (click)="properties.danger = !properties.danger">Change properties.danger!</button>

<br><br>
Loading state: {{ loading }}
<br>
<button class="btn btn-primary" (click)="executeSaving()" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{ 'fa-save':!loading, 'fa-sync-alt fa-spin': loading }" class="fas"></i>
  <span *ngIf="!loading">Save changes</span>
  <span *ngIf="loading">Loading.. wait</span>
</button>
